
<button type="button" mat-raised-button color="primary" (click)="clicked()">Insertar</button>
<div *ngFor="let row of matriz; let i = index">
  <mat-form-field *ngFor="let column of row; let idx = index"> 
    <input matInput [(ngModel)]="matriz[i][idx]" placeholder="Input" type="number">
  </mat-form-field>
  <mat-form-field> 
    <mat-select placeholder="Select" [(value)]="simbolos_elegidos[i]">
      <mat-option *ngFor="let value of opciones;let idx = index" [value]="value">{{ value }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field> 
    <input matInput [value]="valores_elegidos[i]" [(ngModel)]="valores_elegidos[i]" placeholder="Valor" type="number">
  </mat-form-field>
</div>
<button type="button" mat-raised-button color="primary" (click)="add_row()">Agregar</button>
<button type="button" *ngIf="boton_tabla" mat-raised-button color="primary" (click)="mostrar_tabla()">Ver valores actual</button>